.nav-link { 
    color: #000;
    text-decoration: none
}

.user-image {
    margin-right: 10px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}